.profileForm {
    width: 90%;
    max-width: 30rem;
    margin: auto;
    margin-bottom: 2rem;
    padding: 2rem;
}
  
.actions {
    text-align: center;
}

.profileFormHeadingDiv {
  margin-top: 4rem;
  text-align: center;
}

.profileFormHeading {
  color: #585858
}

.imageUploadedDivContainer {
  display: flex;
}

.imageUploadedThumbnail {
  height: 3rem;
}

.imageUploadedDiv {
  width: 4rem;
  flex: 1;
}

.imageUploadedMsg{
  flex: 1;
  line-height: 4rem;    
  font-size: 0.9em;
}

.messageDiv {
  text-align: center;
  height: 2rem;
}

.message {
  font-size: 0.8rem;
}

.failureMsg {
  color: red;
}

.successMsg {
  color: green;
}