.profileForm {
    width: 90%;
    max-width: 30rem;
    margin: 2rem auto;
    padding: 2rem;
}
  
.actions {
    text-align: center;
}

.profileFormHeadingDiv {
  margin-top: 4rem;
  text-align: center;
}

.profileFormHeading {
  color: #585858
}

.imageUploadedDivContainer {
  display: flex;
}

.imageUploadedThumbnail {
  height: 3rem;
}

.imageUploadedDiv {
  width: 4rem;
  flex: 1;
}

.imageUploadedMsg{
  flex: 1;
  line-height: 4rem;    
  font-size: 0.9em;
}