.dailyLogForm {
  width: 90%;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
}

.actions {
  text-align: center;
}

.dailyLogFormHeadingDiv {
  margin-top: 4rem;
  text-align: center;
}

.dailyLogFormHeading {
  color: #585858
}

.dailyLogFormSubHeading {
  color: grey;
  font-style: italic;
}
  
.formlegend {
  font-size: 0.8em;
  float: right;
}