.newDailyLogContainer {
    width: 60%;
    max-width: 30rem;
    margin: 2rem auto;
}

.dailyLogImage {
    background-image: url("../../../assets/coffee-daily-log.jpg");
    background-position: center;
    height: 212px;
    background-size: cover;
    background-repeat: no-repeat;
}

.dailyLogButton {
    text-align: center;
    padding: 10px;
    margin: 1rem;
}

.dailyLogButtonDiv {
    text-align: center;
}

.addNewLogDiv {    
    padding: 3rem 2rem 3rem 3rem;
    width: 100%;
    overflow: auto;
}

.addNewLogButton {
    float: right;
}

.newDailyLogFormHeadingDiv {
    margin-top: 4rem;
    text-align: center;
  }
  
.newDailyLogFormHeading {
    color: #585858
}

.calendarDiv {
    display: flex;    
    margin: 1rem 0rem;
}

.calendar {
    background-image: url("../../../assets/dailyLog-calendar.jpg");
    background-position: center;
    height: 8rem;
    width: 8rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.logHistoryDate {
    padding: 1rem 2rem;
    background-color: beige;
}

.logHistoryStats {
    padding: 1.5rem 2rem;
    background-color: #dab344;
    color: white;
}